/* You can add global styles to this file, and also import other style files */

@font-face {
  src: url("./fonts/Regular/GlacialIndifference-Regular.woff2");
  font-family: "Glacial Indifference";
}

html {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(
    to bottom right,
    rgb(255, 106, 106),
    rgb(255, 213, 96)
  );
  font-family: "Glacial Indifference", sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
}

.title-text {
  color: white;
  font-size: 55px;
}

.subtitle {
  color: white;
  font-size: 40px;
  font-weight: bold;
}

.contact {
  color: white;
  font-size: 30px;
}

.card {
  height: 400px;
  width: 300px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 2px 2px #858585;
  margin: 15px;
}

.ingress {
  text-align: justify;
  color: white;
  font-size: 30px;
  margin: 20px;
}

@media screen and (min-width: 1000px) {
  .ingress {
    width: 700px;
  }
}

@media screen and (max-width: 450px) {
  .ingress {
    font-size: 18px;
  }
  .subtitle {
    width: 300px;
    font-size: 22px;
  }
  .contact {
    font-size: 20px;
  }
  .title-text {
    font-size: 25px;
  }
}
