/* You can add global styles to this file, and also import other style files */

@font-face {
  src: url("./fonts/Regular/GlacialIndifference-Regular.woff2");
  font-family: "Glacial Indifference";
}

html {
  height: 100%;
  width: 100%;
  background-image: linear-gradient(
    to bottom right,
    rgb(255, 106, 106),
    rgb(255, 213, 96)
  );
  font-family: "Glacial Indifference", sans-serif;
}
